.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66,66,66,.5);
    opacity: 0;
    transition: all .3s ease-out;
    z-index: 3;
    opacity: 1;
}

.modal_container{
    /* height: 100%; */
    padding: 27px 60px 40px 60px;
    top: 0;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    /* padding: 0; */
    border: 1px solid #3767d6;
    border-radius: 5px;
    width: 50%;
    max-width: 700px;
    height: auto;
}

.modal_text{
    font-size: 25px;
    font-family: "FF Good Pro Regular";
    text-align: center;
    margin-bottom: 40px;
}

.modal_inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
}

.modal_input{
    border-radius: 5px;
    min-width: 40px;
    width: 100%;
    background-color: #efefef;
    color: #000;
    height: 53px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    text-align: center;
    font-size: 1.5625rem;
}

.modal_button{
    width: 100%;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 15px 0px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #3d803d;
    cursor: pointer;

}

.modal_closeButton{
    position: absolute;
    right: -40px;
    width: 15px;
    top: -10px;
    cursor: pointer;
    fill: white; 
}