@font-face {
    font-family: 'FF Good Pro Regular';
    src: local('FF Good Pro Regular'), local('FF-Good-Pro-Regular'),
        url('../../fonts/FFGoodPro-Regular.woff2') format('woff2'),
        url('../../fonts/FFGoodPro-Regular.woff') format('woff'),
        url('../../fonts/FFGoodPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.nav{
    font-family:  'FF-Good-Pro-Regular';
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px; 
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #5f5f5f;
}

.symbol{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #5f5f5f;
    margin: 0 8px;
}