@font-face {
    font-family: 'FF Good Pro';
    src: local('FF Good Pro Regular'), local('FF-Good-Pro-Regular'),
        url('FFGoodPro-Regular.woff2') format('woff2'),
        url('FFGoodPro-Regular.woff') format('woff'),
        url('FFGoodPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }